<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./main.css">
    </head>
    <body>
        <div id="app">
            <div  v-cloak v-show="users.length > 0">
                <div v-for="user in users">
                    <p>{{ user.name }}:<input type="number" v-model="user.point" /> <button @click="deleteUser(user)">Delete</button></p>
                </div>

                <button @click="addBattleLog">Submit</button>
            </div>

            <p>add user</p>
            <p>Name:<input type="text" v-model="currentUser.name" v-on:keyup.enter="addUser"></p>

            <div v-show="logs.length > 0" v-cloak>
                <p>battle log:</p>
                <div v-for="log in logs">
                    <p> time : {{ log.time }} || {{ renderResult(log) }}  </p>
                </div>
            </div>

            <pre v-show="debugMode">{{ $data }}</pre>

        </div>
    </body>

    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-firestore.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="firebase-config.js"></script>
    <script src="main.js"></script>
</html>