<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="./main.css">
    </head>
    <body>
    <div id="app">
        <v-app id="inspire" white>
            <v-toolbar app fixed clipped-left>
                <v-toolbar-title>Application</v-toolbar-title>
            </v-toolbar>

            <v-content>
                <v-container fluid grid-list-md v-cloak>
                    <h2>Cards</h2>
                    <v-data-iterator
                            :items="cards"
                            content-tag="v-layout"
                            row
                            wrap>

                        <v-flex slot="item"
                                slot-scope="props"
                                xs8
                                sm5
                                md4
                                lg3>

                            <v-card tile ripple>
                                <v-card-title><h4>{{ props.item.title.name }}</h4></v-card-title>
                                <v-container>
                                    <v-chip v-for="user in props.item.users" >{{ user.name }}</v-chip>
                                </v-container>

                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn flat small color="primary" @click="saveLog(props.item)">Save Log</v-btn>
                                    <v-btn flat small @click="deleteCard(props.item)">Delete Card</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-data-iterator>
                    <v-dialog v-model="dialog.card" width="500">
                        <v-btn block slot="activator" color="primary" dark @click="toCardEditMode">カードを追加する</v-btn>
                        <v-card v-show="editingCard != null">
                            <v-card-title class="headline grey lighten-2" primary-title>カードを追加する</v-card-title>
                            <v-container>
                                <v-select
                                        v-model="editingCard.title"
                                        :items="titles"
                                        label="タイトル"
                                        required
                                >
                                </v-select>
                                <v-combobox
                                        v-model="editingCard.users"
                                        :items="users"
                                        :search-input.sync="search"
                                        hide-selected
                                        hint="5人まで選択できます"
                                        label="対戦カードのユーザーを追加"
                                        multiple
                                        persistent-hint
                                        small-chips
                                        required>
                                    <template slot="no-data">
                                        <v-list-tile>
                                            <v-list-tile-content>
                                                <v-list-tile-title>
                                                    検索ワード "<strong>{{ search }}</strong>" に該当するユーザーはいません。
                                                </v-list-tile-title>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                    </template>
                                </v-combobox>
                            </v-container>

                            <v-divider></v-divider>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" flat @click="saveCard"> Save </v-btn>
                                <v-btn color="secondary" @click="clearEditingCard">Delete</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="dialog.user" width="500">
                        <v-btn block slot="activator" color="primary" dark>ユーザー管理</v-btn>
                        <v-card>
                            <v-card-title class="headline grey lighten-2" primary-title>ユーザー管理</v-card-title>
                            <v-container>
                                <v-data-table
                                        :headers="headers.user"
                                        :items="users"
                                        class="elevation-1">
                                    <template slot="items" slot-scope="props">
                                        <td>{{ props.item.name }}</td>
                                        <td class="text-xs-right">{{ props.item.id }}</td>
                                        <td class="justify-center layout px-0">
                                            <v-icon small class="mr-2" @click="editUser(props.item)">edit</v-icon>
                                            <v-icon small @click="deleteUser(props.item)">delete</v-icon>
                                        </td>
                                    </template>
                                </v-data-table>
                            </v-container>

                            <v-divider></v-divider>

                            <v-container v-show="currentUserShow">
                                <v-spacer></v-spacer>

                                <v-text-field
                                        v-model="currentUser.name"
                                        label="ユーザー名を入力してください"
                                        clearable
                                ></v-text-field>
                            </v-container>


                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn v-show="currentUser.name != ''" color="primary" flat @click="addUser">ユーザーを追加</v-btn>
                                <v-btn v-show="currentUserShow == false" color="primary" flat @click="currentUserShow = true">ユーザーを追加</v-btn>
                                <v-btn v-show="currentUserShow" color="primary" flat @click="clearEditingUser">キャンセル</v-btn>
                            </v-card-actions>

                        </v-card>
                    </v-dialog>

                    <v-dialog v-model="dialog.title" width="500">
                        <v-btn block slot="activator" color="primary" dark>タイトル管理</v-btn>
                        <v-card>
                            <v-card-title class="headline grey lighten-2" primary-title>タイトル管理</v-card-title>
                            <v-container>
                                <v-data-table
                                        :headers="headers.title"
                                        :items="titles"
                                        class="elevation-1">
                                    <template slot="items" slot-scope="props">
                                        <td>{{ props.item.value.name }}</td>
                                        <td class="text-xs-right">{{ props.item.value.id }}</td>
                                        <td class="justify-center layout px-0">
                                            <v-icon small class="mr-2" @click="editTitle(props.item.value)">edit</v-icon>
                                            <v-icon small @click="deleteTitle(props.item.value)">delete</v-icon>
                                        </td>
                                    </template>
                                </v-data-table>
                            </v-container>

                            <v-divider></v-divider>

                            <v-container v-show="currentTitleShow">
                                <v-spacer></v-spacer>

                                <v-text-field
                                        v-model="currentTitle.name"
                                        label="タイトル名を入力してください"
                                        clearable
                                ></v-text-field>
                            </v-container>


                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn v-show="currentTitle.name != ''" color="primary" flat @click="addTitle">タイトルを追加</v-btn>
                                <v-btn v-show="currentTitleShow == false" color="primary" flat @click="currentTitleShow = true">タイトルを追加</v-btn>
                                <v-btn v-show="currentTitleShow" color="primary" flat @click="clearEditingTitle">キャンセル</v-btn>
                            </v-card-actions>

                        </v-card>
                    </v-dialog>



                </v-container>

                <div v-show="logs.length > 0" v-cloak class="container">
                    <h2>battle log</h2>
                    <div v-for="log in logs" class="log-line-container">
                        <p>title : {{log.title.name}} || time : {{ log.time }} || </p>
                        <div v-for="user in log.users" class="log-line-container">
                            {{ user.rank }} : {{ user.name }}({{ user.point }}) /
                        </div>
                        <button @click="deleteLog(log)">Delete</button>
                    </div>
                </div>
            </v-content>

            <v-footer app fixed>
                <span>&copy; 2017</span>
            </v-footer>
        </v-app>
    </div>
    </body>

    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-firestore.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="firebase-config.js"></script>
    <script src="main.js"></script>
</html>