<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./main.css">
    </head>
    <body>
        <div id="app">
            <div  v-cloak>
                <h2>Cards</h2>
                <div  class="card-container">
                    <div v-if="editingCard != null" class="container">
                        <p>Editing Card</p>
                        <p>
                            title :
                            <select v-model="editingCard.title">
                                <option v-for="title in titles" v-bind:value="title">{{ title.name}}</option>
                            </select>
                        </p>
                        <div v-for="user in editingCard.users">
                            <p>{{ user.name }}<button @click="deleteCardUser(user)">Delete</button></p>
                        </div>
                        <p>
                            <select v-model="addToCardUser">
                                <option v-for="user in editingCard.selectableUsers" v-bind:value="user">
                                    {{ user.name}}
                                </option>
                            </select>
                            <button @click="addUserToCard">Add User</button>
                        </p>
                        <button @click="saveCard">Save</button>
                        <button @click="clearEditingCard">Delete</button>
                    </div>
                    <button v-else @click="createCard">Create Battle Card</button>

                    <div v-for="card in cards" class="card">
                        <h3>{{ card.title.name }}</h3>
                        <div v-for="user in card.users">
                            <p>{{ user.name }}:<input type="text" v-model="user.point" maxlength="5" class="point-input"/> points</p>
                        </div>
                        <button @click="saveLog(card)">save battle log</button>
                        <button @click="deleteCard(card)">Delete</button>
                    </div>
                </div>
            </div>

            <div v-show="logs.length > 0" v-cloak class="container">
                <h2>battle log</h2>
                <div v-for="log in logs" class="log-line-container">
                    <p>time : {{ log.time }} || </p>
                    <div v-for="user in log.users" class="log-line-container">
                        {{ user.rank }} : {{ user.name }}({{ user.point }}) /
                    </div>
                    <button @click="deleteLog(log)">Delete</button>
                </div>
            </div>

            <div class="setting-container">
                <div class="container">
                    <div v-cloak v-show="users.length > 0">
                        <h2> Users </h2>
                        <div v-for="user in users">
                            <p>{{ user.name }} <button @click="deleteUser(user)">Delete</button></p>
                        </div>
                    </div>

                    <p>add user</p>
                    <p>Name:<input type="text" v-model="currentUser.name" v-on:keyup.enter="addUser"></p>
                </div>

                <div class="container">
                    <div v-cloak v-show="users.length > 0">
                        <h2> Titles </h2>
                        <div v-for="title in titles">
                            <p> {{ title.name }} <button @click="deleteTitle(title)">Delete</button></p>
                        </div>
                    </div>

                    <p>add user</p>
                    <p>Name:<input type="text" v-model="currentTitle.name" v-on:keyup.enter="addTitle"></p>
                </div>
            </div>

            <pre v-show="debugMode">{{ $data }}</pre>
        </div>
    </body>

    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase-firestore.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="firebase-config.js"></script>
    <script src="main.js"></script>
</html>