[v-cloak] {
    display:none;
}

.card {
    border: thin solid #000000;
}

.v-card {
    border-radius: 20px;
}

.setting-container {
    display: flex;
}

.card-container {
    display: flex;
}

.point-input {
    width : 3em
}

.log-line-container {
    display: flex;
}